
.line-algorithm-slide .r-hstack pre {
    width: 50%;
}

.line-algorithm-slide .r-hstack .line-algorithm {
    width: 50%;
    padding: 0 14px;
}

.p5js-shape-slide pre {
    width: 46%;
}

.p5js-shape {
    padding: 0 14px;
    position: relative;
}

.p5js-shape small {
    position: absolute;
    color: black;
    font-size: 0.45em;
    z-index: 1;
}

.p5js-shape img {
    z-index: -1;
}

svg.points-poly {
    position: absolute;
    top: 7%;
    left: 38%;
    width: 44%;
    height: 82%;
    z-index: 1;
}

.p5js-order-slide .r-hstack pre {
    width: 53%;
    padding: 0 12px;
}
